<% if (locals.errors) { %>
  <div class="error-div">
    <p>Please correct the following errors:</p>
    <ul>
      <% errors.forEach(function(error) { %>
        <li><%= error.msg %><% if (error.msg.endsWith("username")) { %>, or <a href="/log-in">log in.</a><% } %></li>
      <% }); %>
    </ul>
  </div>
<% } %>