<% if (locals.errors) { %>
  <div class="error-div">
    <p>Please correct the following errors:</p>
    <ul>
      <% errors.forEach(function(error) { %>
        <li><%= error.msg %></li>
      <% }); %>
    </ul>
  </div>
<% } %>