<nav>
  <a href="/" class="homepage-link">AnonTales 🌃</a>
  <div class="nav-right-side">
    <a href="/stories">Stories</a>
    <% if (locals.currentUser) { %>
      <a href="/anonclub">anonClub</a>
      <a href="/my-account">My account</a>
      <a href="/log-out">Log out</a>
    <% } else { %>
      <a href="/sign-up?nav=true">Sign up / log in</a>
    <% } %>
  </div>
</nav>
