<div class="no-access-div">
  <p>You don't have access to this page!</p>
  <% if (!locals.currentUser) { %>
    <p><a href="/sign-up">Sign up</a> or <a href="/log-in">log in</a> now.</p>
  <% } %>
  <a href="/">&lt;&lt; Home</a>
  <a href="/stories">&lt;&lt; Story depository</a>
</div>
