<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('partials/nav') %>
    <div class="index-div">
      <h1><%= title %></h1>
      <% if (locals.currentUser) { %>
        <h2>Hello, <%= currentUser.username %>!</h2>
      <% } else { %>
        <div class="info-div">
          <p>Want to post messages of your own? <a href="/sign-up">Sign up</a> for an account!</p>
          <p>Or, <a href="/log-in">log in</a> to your existing account.</p>
        </div>
      <% } %>
    </div>
  </body>
</html>
