<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('partials/nav') %>
    <h1><%= title %></h1>
    <% if (locals.currentUser) { %>
      <h2>Hello, <%= currentUser.username %>!</h2>
    <% } else { %>
      <p><a href="/sign-up">Sign up</a> for an account in order to post messages!</p>
      <p>If you already have an account, <a href="/log-in">log in</a> here!</p>
    <% } %>
  </body>
</html>
