<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= title %> | AnonTales</title>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div class="container">
      <div class="edit-story-div">
        <h1><%= title %> 🗑️</h1>
        <p>Story successfully deleted.</p>
        <a href="/stories">&lt;&lt; Story depository</a>
        <a href="/">&lt; &lt; Home</a>
      </div>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
