html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  font-family:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
}

input {
  border-color: transparent;
  outline: 1px solid rgb(90, 90, 90);
  caret-color: black;
}

a {
  text-decoration: none;
}

a:link {
  color: rgb(29, 112, 176);
}

@media (hover: hover) {
  button:hover {
    cursor: pointer;
  }

  a:hover {
    text-decoration: underline;
  }

  .homepage-link:hover {
    text-decoration: none;
  }

  button:hover {
    background-color: rgb(225, 225, 247);
  }

  button:active {
    background-color: rgb(208, 208, 241);
    border-style: inset;
  }
}

body {
  background-color: rgb(247, 247, 229);
}

nav {
  padding: 15px;
  background-color: rgb(204, 205, 248);
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

nav a,
nav a:link {
  color: rgb(68, 6, 68);
}

.nav-right-side {
  display: flex;
  gap: 25px;
}

.container {
  display: grid;
  justify-items: center;
  padding: 15px;
}

.index-div,
.sign-up-div,
.login-div,
.stories-div {
  display: grid;
  justify-items: center;
  gap: 20px;
}

.index-div {
  width: min(1000px, 85%);
}

h1 {
  font-size: 2.4rem;
  font-weight: bold;
}

h2 {
  font-size: 2.2rem;
}

.info-div {
  display: grid;
  justify-items: center;
  gap: 15px;
  text-align: center;
  line-height: 1.5;
}

.sign-up-div {
  max-width: max-content;
}

.sign-up-div > p {
  text-align: center;
  line-height: 1.5;
  font-size: 1.7rem;
}

.sign-up-form,
.login-form {
  margin-top: 8px;
  display: grid;
  gap: 16px;
}

.error-div {
  margin-top: -10px;
  display: grid;
  justify-items: center;
  gap: 15px;
  color: red;
  font-weight: 500;
}

.error-div li:not(:last-child) {
  margin-bottom: 5px;
}

.sign-up-form > p,
.login-form > p {
  display: flex;
  align-items: center;
}

.sign-up-form > p {
  gap: 5px;
}

.sign-up-form > p > label {
  width: 40%;
}

.sign-up-form input {
  padding: 3px;
}

.sign-up-form input:focus-visible,
.login-form input:focus-visible {
  outline: 2px solid purple;
  border-radius: 3px;
}

.password-div {
  margin: 10px 0;
  padding: 12px 0;
  border: 1px solid black;
  width: 110%;
  display: grid;
  gap: 12px;
  place-items: center;
  transform: translateX(-4%);
  background-color: rgb(236, 236, 248);
  color: rgb(84, 1, 84);
  border-radius: 6px;
}

.password-div > p {
  font-weight: 500;
}

.password-div li:not(:last-child) {
  margin-bottom: 5px;
}

.buttons-div {
  margin-top: 15px;
  display: grid;
  gap: 15px;
  justify-items: center;
  font-size: 1.8rem;
}

button {
  padding: 8px 25px;
  border: 2px outset rgb(169, 76, 169);
  border-radius: 15px;
  background-color: rgb(236, 236, 248);
  color: rgb(84, 1, 84);
  font-weight: 500;
}

.login-form {
  justify-items: center;
}

.login-form > p {
  gap: 12px;
  font-size: 1.7rem;
  width: 100%;
}

.login-form > p > label {
  width: 30%;
}

.login-form input {
  padding: 4px;
}

.login-error-div {
  display: grid;
  justify-items: center;
  gap: 10px;
  margin-bottom: -10px;
}

.login-error {
  font-weight: 500;
  color: red;
  text-align: center;
}

.story-buttons-div {
  display: flex;
  gap: 20px;
}

.story-buttons-div button {
  font-size: 1.8rem;
}

.page-not-found-div,
.logout-div {
  display: grid;
  justify-items: center;
  gap: 15px;
  font-size: 1.8rem;
}